---
//レイアウトコンポーネント
import BaseLayout from '../layouts/BaseLayout.astro';

//ブログコンポーネント
import BlogPost from '../components/BlogPost.astro';

//データ変数
const allPosts = await Astro.glob('../pages/posts/**.md');
const pageTitle = "私のAstro学習ブログ";

---

<BaseLayout pateTitle={pageTitle}>
	<p>ここには、私がAstroを学んでいく旅の様子を投稿しました。</p>
	<ul>
	{allPosts.map((post) => 
		<li><a href={post.url}>{post.frontmatter.title}</a></li>
	)}
	</ul>
	<p>ブログポストコンポーネントにしてみました</p>
	<ul>
		{allPosts.map((post) => 
			<BlogPost url={post.url} title={post.frontmatter.title} />
		)}
	</ul>
</BaseLayout>